body {
    background-color: black;
}

main {
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-left: 200px;
    text-align: center;
    margin-top: 100px;
    margin-right: 200px;
    height: 300px;
    padding-top: 80px;
}